:root {
    --primary-color: #4CAF50;
    --hover-color: #45a049;
    --background-color: #f8f8f8;
    --result-bg-color: #ddd;
    --disabled-color: #ccc;
  }
  
  body {
    min-width: 320px;
    max-width: 1024px;
    max-height: 50vh;
    height: auto;
    padding: 10px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    margin: 0 auto; 
  }
  
  .hide {
    display: none;
  }
  
  #mainView, #apiView {
    width: 100%;
  }
  
  .button-row, .center-button {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  input[type=text], textarea {
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
  }
  
  .center-button {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  button {
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8em;
    transition: background-color 0.3s ease;
  }
  
  button:disabled {
    background-color: var(--disabled-color);
    cursor: not-allowed;
  }
  
  button:hover {
    background-color: var(--hover-color);
  }
  
  #resultArea {
    margin: 10px auto;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--result-bg-color);
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    white-space: pre-wrap;
    overflow-y: auto;
    max-height: 120px; 
    resize: vertical;
    overflow: auto;
  }
  
  h1 {
    text-align: center;
    color: var(--primary-color);
    font-size: 1.5em;
  }
  
  .small-font {
    font-size: 9px; /* adjust this to your desired size */
  }
  